@model IEnumerable<EWM.Models.MstHomeSlider>

@{
    ViewBag.Title = "Manage Home Slider";
}

<script type="text/javascript">
    //function ConfirmDelete() {
    //    alert("Are you sure?");
    //return false;
    //}

    $(document).ready(() => {
        
        //? Confirm Delete Action
        $(".DeleteBtn").click(c => {
            alert("Are you sure?");
            console.log(c.target.id);
            return false;
        });
    });
</script>

<h2>Manage Home Slider</h2>

<p class="text-danger">@ViewBag.Error</p>

<p>
    @Html.ActionLink("Add New", "Details", new { mode = "New" })
</p>
<table class="table mb-5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtensionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th colspan="3"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtensionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
            <td>
                @Html.ActionLink("Edit", "Details", new { id = item.SliderPhotoId, mode = "Edit" }) |
                @Html.ActionLink("Details", "Details", new { id = item.SliderPhotoId, mode = "Details" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SliderPhotoId }, new { onclick = "return confirm('Are you sure you wish to delete "+item.Filename+"?');" })

            </td>
        </tr>
    }

</table>
