@using EWM.HelperClass;
@using EWM.Models;
@model MstProduct

@{
    ViewBag.Title = Model.ProductName;
    string directory = EWM.HelperClass.GeneralBLL.FileDirectory;

    List<MstProductImage> productImages = Model.GetImageList();
    productImages = productImages.OrderBy(l => l.ImageOrder).ToList();
    int maxValue = Model.Quantity.Value;
}

<script type="text/javascript">

    $(document).ready(() => {
        $("#addItem").click(e => {
            var value = parseInt($("#itemValue").val());
            value += 1;

            if (value > @maxValue) {
                value = @maxValue;
            }

            $("#itemValue").val(value);
        })

        $("#subItem").click(e => {
            var value = parseInt($("#itemValue").val());
            value -= 1;

            if (value <= 0) { value = 1; }
            $("#itemValue").val(value);
        })

        $("#itemValue").change(e => {
            var value = parseInt($("#itemValue").val());

            if (isNaN($("#itemValue").val())) {
                $("#itemValue").val(1);
            } else if (value <= 0) {
                $("#itemValue").val(1);
            } else if (value > @maxValue) {
                $("#itemValue").val(@maxValue);
            }

        });

        $("#btnShoppingCart").click(e => {
            addToShoppingCart();
        })

        //$("#cartToastBtn").click(e => {
        //    //const toast = new bootstrap.Toast($("#cartToast"))
        //    //toast.show()
        //        //const toast = new bootstrap.Toast($("#cartToast"))
        //        //toast.show()
        //    $('#ewmNavbar').load('#ewmNavbar', function () {
        //        const toast = new bootstrap.Toast($("#cartToast"))
        //        toast.show()
        //    })
        //})


    });
       
    function changeImage(element) {

        var mainImage = document.getElementById('mainImage');
        mainImage.src = element.src;
    }

    function addToShoppingCart() {
        var itemValue = parseInt($("#itemValue").val());

        if (isNaN(itemValue)) {
            alert("Please enter a valid value!");
        }

        $.ajax({
                type: "POST",
                url: '@Url.Action("AddToShoppingCart")',
                data: {
                    productId: '@Model.ProductId',
                    quantity: itemValue
                },
                dataType: "json",
                success: function (result) {
                    if (result != "Ok") {
                        alert(result);
                    } else {
                        $('#navCart').load('#navCart #navCart', function () {
                            const toast = new bootstrap.Toast($("#cartToast"))
                            toast.show()
                        })
                    }
                }
            });
    }

</script>

<h2>@Model.ProductName</h2>

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image">
                        @{

                            MstProductImage displayImg = (productImages.Count > 0) ? productImages[0] : null;
                            string displayLink = (displayImg != null) ? String.Concat(directory, displayImg.FileLocation) : "";
                            string displayDesc = (displayImg != null) ? displayImg.ImageDesc : "";
                        }
                        <img src="@displayLink" alt="@displayDesc" id="mainImage" width="350">

                    </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">

                            @{

                                foreach (var img in productImages)
                                {
                                    if (img != null)
                                    {
                                        string imgLink = (img != null) ? String.Concat(directory, img.FileLocation) : "";

                                        <li><img onclick="changeImage(this)" src="@imgLink" width="70"></li>
                                    }
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>@Model.ProductName</h3>

                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>@Model.ProductDesc</p>
                    </div>
                    <h3>RM @Decimal.Round(Model.Price.Value, 2)</h3>
                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row">
                            @{
                                for (int k = 0; k < (int)Model.Rating; k++)
                                {
                                    <i class="bi bi-star-fill text-success"></i>
                                }

                                if (Model.Rating.ToString().Contains(".5"))
                                {
                                    <i class="bi bi-star-half text-success"></i>
                                }

                                decimal starsLeft = (5 - Model.Rating.Value);
                                for (int k = 0; k < (int)starsLeft; k++)
                                {
                                    <i class="bi bi-star text-success"></i>
                                }
                            }
                        </div>
                        <span>0 reviews</span>
                    </div>

                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <button class="btn btn-outline-dark" id="subItem"><i class="bi bi-dash"></i></button>
                        <input class="form-control" id="itemValue" type="text" value="1" aria-label="1">
                        <button class="btn btn-outline-dark" id="addItem"><i class="bi bi-plus"></i></button>
                        @*<button class="btn btn-dark">Add to Basket</button>*@
                    </div>

                    @* Add to Cart *@
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        @{
                            if (maxValue <= 0)
                            {
                                <button class="btn btn-dark disabled">Add to Cart</button>
                                <p class="text-danger">This item is currently not available</p>
                            }
                            else
                            {
                                <button id="btnShoppingCart" class="btn btn-outline-dark">Add to Cart</button>
                            }
                        }
                        @*<button class="btn btn-dark">Add to Basket</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<button type="button" class="btn btn-primary" id="cartToastBtn">Show live toast</button>*@

@* Toast *@
<div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="cartToast" class="toast align-items-center bg-dark border-1 border-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body text-white">
                Item has been added to cart.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

</div>