@using EWM.Models;
@using EWM.HelperClass

@{
    ViewBag.Title = "Home";

    List<MstHomeSlider> sliderImages = (List<MstHomeSlider>)ViewData["HomeImgSlider"];
}


<!-- Carousel -->
<div id="homeImgSlider" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">

        @{
            for (int i = 0; i < sliderImages.Count; i++)
            {
                string active = (i == 0) ? "active" : "";
                <button type="button" data-bs-target="#homeImgSlider" data-bs-slide-to="@i" class="@active"></button>
            }
        }

    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        @{
            for (int i = 0; i < sliderImages.Count; i++)
            {
                string active = (i == 0) ? "active" : "";
                string directory = GeneralBLL.FileDirectory;
                string completeFilePath = Url.Content(string.Concat("~", directory, sliderImages[i].FileLocation));
                <div class="carousel-item @active">
                    <img src="@completeFilePath" alt="@sliderImages[i].ImageDesc" class="d-block" style="width:100%;">
                </div>
            }

            if (sliderImages.Count == 0)
            {
                <div class="carousel-item active">
                    <img src='@Url.Content("~/Content/Img/ewm_logo.png")' alt="Placeholder Image" class="d-block" style="width:100%">
                </div>
            }
        }

    </div>
    @{
        if (sliderImages.Count > 1)
        {
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#homeImgSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homeImgSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>}
    }
</div>

<div class="container-fluid mt-4 text-center mb-5">
    <h3>Category</h3>

    <div class="row">
        @* Vegetables *@
        <div class="card col mx-3" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Vegetables</h4>
                <a href='@Url.Action("Product_All", "Product", new { section = "Vegetables" })'><img class="card-img-top" src="~/Content/Img/Vegetables.jpg" alt="Photo of various vegetables" /></a>
            </div>
        </div>

        @* Meat *@
        <div class="card col mx-3" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Raw Meat</h4>
                <a href='@Url.Action("Product_All", "Product", new { section = "Raw Meat" })'><img class="card-img-top" src="~/Content/Img/Raw Meat.jpg" alt="Photo of Meat" /></a>
            </div>
        </div>

        @* Fruits *@
        <div class="card col mx-3" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Fruits</h4>
                <a href='@Url.Action("Product_All", "Product", new { section = "Fruits" })'><img class="card-img-top" src="~/Content/Img/Fruits.jpg" alt="Photo of various Fruits" /></a>
            </div>
        </div>
    </div>
</div>


