@using EWM.HelperClass
@model EWM.Models.MstCustomer

@{
    ViewBag.Title = "Customer Profile";
    string pageMode = (ViewData["PageMode"] == null) ? "Details" : ViewData["PageMode"].ToString();
}

<h2>Customer Profile - Edit</h2>

<div>
    <hr />
    @using (Html.BeginForm("SaveCustomerProfile", "MstCustomer", new { mode = pageMode }, FormMethod.Post, new { @id = "MstCustomerForm" }))
    {
        <div class="dl-horizontal">
            @Html.TextBoxFor(model => model.CustomerId, new { @class = "d-none" })

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayNameFor(model => model.Username)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DropDownListFor(model => model.State, new SelectList(Enum.GetValues(typeof(GeneralBLL.States))), new { @class = "form-select" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Postcode)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control" })
            </dd>
            @*@Html.ActionLink("Edit", "MstCustomer", new { pageMode }, new { @class = "btn btn-warning px-4" })*@
        </div>
    }
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">

    <a href='@Url.Action("MstCustomer")' class="btn btn-secondary px-4">Back</a>
    <button class="btn btn-success px-4" type="submit" form="MstCustomerForm">Save</button>
    @*@{
            if (pageMode != "Details")
            {
                <button class="btn btn-success px-4" type="submit" form="MstProductForm">Submit</button>
            }

            if (pageMode == "Details")
            {
                <button class="btn btn-warning px-4" type="submit" form="MstProductForm">Edit</button>
            }
        }*@

</div>