@using EWM.Models;
@model List<MstProductImage>

@{ 
    string directory = EWM.HelperClass.GeneralBLL.FileDirectory;
}

    <fieldset class="list-group border border-2 border-dark py-3 px-3">
        <legend class="float-none w-auto p-1">Product Images</legend>
        <button class="btn btn-primary mb-3 productImgBtn" type="button" data-bs-toggle="modal" data-bs-target="#productImagePopup" img-id="" img-mode="New">Add New Image</button>
             

        @{
            for (int i = 0; i < Model.Count; i++)
            {
                MstProductImage img = Model[i];
                string filePath = string.Concat(directory, img.FileLocation);

                <div class="card mb-3 mx-auto" style="min-width: 80%;" >
                    <div class="row g-0">
                        <div class="col-md-4 my-auto mx-lg-0 mx-auto"  style="max-width:250px">
                            <img src="@filePath" class="img-fluid rounded" alt="@img.Filename">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">@img.Filename</h5>
                                    <button class="btn btn-warning productImgBtn" img-id="@img.ProductImageId" img-mode="Edit" type="button" data-bs-toggle="modal" data-bs-target="#productImagePopup" >Edit</button>
                                </div>
                                <p class="card-text">@img.ImageDesc</p>
                                <p class="card-text"><small class="text-muted">Image Order: @img.ImageOrder</small></p>
                                <p class="card-text"><small class="text-muted">Status: @img.Status</small></p>
                            </div>
                        </div>
                    </div></div>
            }
        }
    </fieldset>