@using EWM.Models;
@using EWM.HelperClass;
@model EWM.Models.MstPromotion

@{
    ViewBag.Title = "Promotion Details";

    string pageMode = (ViewData["PageMode"] == null) ? "Details" : ViewData["PageMode"].ToString();
}
<script type="text/javascript">
    $(document).ready(() => {
        $(function () {
            $('.bootstrap-datepicker').datepicker({
                format: 'dd/mm/yyyy',
            });
        });

        $("#btnSubmit").click(e => {
            if (!validateData()) {
                alert("Please fill in all required fields")
            } else {
               validatePromotion()
            }
        })
    });

    function validateData() {
        if ($("#PromotionCode").val() == "" || $("#PromotionCode").val() == null) { return false; }
        if ($("#PromotionDesc").val() == "" || $("#PromotionDesc").val() == null) { return false; }
        if ($("#Amount").val() == "" || $("#Amount").val() == null) { return false; }
        return true;
    }

    // Validate Promotion Code
    function validatePromotion() {
        var promoId = $("#PromotionId").val();
        var promoCode = $("#PromotionCode").val();

         $.ajax({
                type: "POST",
                url: '@Url.Action("ValidatePromotion")',
                data: {
                    promoCode: promoCode,
                    promoId: promoId
                },
                dataType: "json",
                success: function (result) {
                    if (result != "Ok") {
                        alert(result);
                    } else {
                        $("#MstPromotionForm").submit();
                    }
                }
            });
    }
</script>

<h2>@Model.PromotionCode</h2>

<div class="mb-5">
    <h4>@pageMode</h4>
    <p class="text-danger">@ViewBag.Error</p>
    <hr />

    @using (Html.BeginForm("UpdateMstPromotion", "MstPromotion", new { mode = pageMode }, FormMethod.Post, new { @id = "MstPromotionForm" }))
    {
        <dl class="dl-horizontal">
            @Html.TextBoxFor(model => model.PromotionId, new { @class = "d-none" })
            <dt>
                @Html.DisplayNameFor(model => model.PromotionCode)
            </dt>

            <dd class="mb-4">
                @{
                    if (pageMode == "Details")
                    {
                        @Html.DisplayFor(model => model.PromotionCode)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PromotionCode, new { @class = "form-control", @required = "true" })
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PromotionDesc)
            </dt>

            <dd class="mb-4">

                @{
                    if (pageMode == "Details")
                    {
                        @Html.DisplayFor(model => model.PromotionDesc)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PromotionDesc, new { @class = "form-control", @required = "true" })
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd class="mb-4 text-break">
                @{
                    if (pageMode == "Details")
                    {
                        @Html.DisplayFor(model => model.Amount)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @type = "number", @step = "0.001", @required = "true" })
                    }
                }
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd class="mb-4">
                @{
                    if (pageMode == "Details")
                    {
                        @Html.DisplayFor(model => model.StartDate)
                    }
                    else
                    {
                        if (pageMode == "New")
                        {
                            Model.StartDate = DateTime.Now;
                        }
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-calendar3"></i>
                            </span>

                            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control bootstrap-datepicker" })
                        </div>
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd class="mb-4">
                @{
                    if (pageMode == "Details")
                    {
                        @Html.DisplayFor(model => model.EndDate)
                    }
                    else
                    {
                        if (pageMode == "New")
                        {
                            Model.EndDate = DateTime.Now;
                        }
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-calendar3"></i>
                            </span>

                            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control bootstrap-datepicker" })
                        </div>
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd class="mb-4">
                @{
                    if (pageMode == "Details")
                    {
                        @Html.DisplayFor(model => model.Status)
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(GeneralBLL.Status))), new { @class = "form-select" })
                    }
                }
            </dd>

            @*@  <dt>
                    Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd class="mb-4">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>*@



            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </dt>*@

            @*<dd class="mb-4">
                    @Html.DisplayFor(model => model.UpdatedBy)
                </dd>*@

        </dl>
    }
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">

    <a href='@Url.Action("ManagePromotion")' class="btn btn-secondary me-3 px-4">Back</a>

    @{
        if (pageMode != "Details")
        {
            <button id="btnSubmit" class="btn btn-success px-4" type="button" form="MstPromotionForm">Submit</button>
        }
    }

</div>

